<h1>Search</h1>

<form method="GET" action="{% url 'note:search' %}">
	<input type="text" name="search_text">
	
	<b>Search in:</b>
	All<input type="radio" name="search_in" value="all" checked>
	Title<input type="radio" name="search_in" value="title">
	Content<input type="radio" name="search_in" value="content">
	Category<input type="radio" name="search_in" value="categories">
	
	<b>Date Range:</b> <input type="date" name="from"> To <input type="date" name="to">

	<input type="submit" value="Action">
</form>

<hr>