{% extends 'base.html' %}
{% load profanity %}


{% block title %}
	Home
{% endblock %}


{% block link %}{% endblock %}


{% block content %}
	{% include 'snippets/date.html' %}
	{% include 'snippets/search.html' %}
	
	<form method="GET">
		{% include 'snippets/navbar.html' %}

		{% for note in note_list %}
			<input type="radio" name="instance" value="{{ note.title }}">
			<b>{{ note.title|censor }}</b>
			<input type="checkbox" name="bd---{{ note.title }}" value="{{ note.title }}">

			{% for category in note.categories.all %}
				{{ category.name|censor }} {% if not forloop.last %}, {% endif %}
			{% endfor %}
			<br>

			{% with content=note.content|censor %}
				{{ content|safe }}
			{% endwith %}
			<hr>
		{% endfor %}
	</form>

	{% include 'snippets/pagination.html' %}
{% endblock %}